@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
.header {
    padding: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
    position: relative;
    top: 0%;
  }
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://w.wallhaven.cc/full/0w/wallhaven-0w2de6.jpg );
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 40px;
    flex-direction: row; 

}
a:link {
    background-color: transparent;
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  .zorar {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e44d26;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
 
  #top{
    background-color: aqua;
    position: relative;
    left: 200px;
    top: -360px;
    border: hidden;
    height: 40px;
    width: 300px;
  }
  h1 {
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
  }
.fa-instagram{
    color:purple;
    transform: scale(3);
    margin-left: 10px;
    }
    .fa-facebook{
        color: blue;
        transform: scale(3);
        margin-left: 50px;
    }
    .fa-youtube{
        color: red;
        transform: scale(3);
        margin-left: 70px;
    }

.wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin-right: 20px;
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}
.card1:hover .poster::before {
    bottom: 0;
}
.card2:hover .poster::before {
    bottom: 0;
}
.card3:hover .poster::before {
    bottom: 0;
}
.card4:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}
.card1:hover .poster img {
    transform: scale(1.1);
}
.card2:hover .poster img {
    transform: scale(1.1);
}
.card3:hover .poster img {
    transform: scale(1.1);
}
.card4:hover .poster img {
    transform: scale(1.1);
}


.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.card1:hover .details {
    bottom: 0;
}
.card2:hover .details {
    bottom: 0;
}
.card3:hover .details {
    bottom: 0;
}
.card4:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}
.card1{
    display: block;
    position: relative;
    left: 20px;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.card2{
    display: block;
    position: relative;
    left: 60px;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.card3{
    display: block;
    position: relative;
    left: 60px;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.genre{
    padding: 60px;
    text-align: center;
    font-weight: bold;
    color: rgb(194, 20, 20);
    font-size: 30px;
    position: absolute;
    top: 0%;
}